.css1{
	color: darkgrey;
	background-color: wheat;
	font-family: fantasy serif unset;
	text-align: center;
	width: 500px;
	margin: 0 auto;
	margin-top: 50px;
	border: 5px darkgrey solid;
	box-shadow: 2px 2px mediumpurple;
}
.css2{
	color: white;
	background-color: black;
	width: 470px;
	font-size: 30px;

}
.css3{
	background-color: whitesmoke;
	font-family: fantasy serif unset;
	font-size: 20px;
	width: 470px;
	border-radius: 5px;
}
.css3: hover{
	color: red;
	background-color: greenyellow;
	font-family: cursive;
}
.css4{
	width: 470px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.css5{
	color: deeppink;
	background-color: deepskyblue;
}
.css6{
	color: wheat;
	background-color: red;
}
html{
	background-color: mediumaquamarine;
}
